.body{
    justify-content: center;
    text-align: center;
    display:flex;

}
.login__form{
    justify-content: center;
    text-align: center;
    background: rgba(255,255,255,0.06);
    width:25rem;
    height:25rem;
    display:flex;
    flex-direction: column;
    box-shadow: 0 8px 32px 0 rgba(31,38,135,.37);
    border-left: 1px solid rgba(255,255,255,.3);
    border-top: 1px solid rgba(255,255,255,.3);
    border-bottom: 1px solid rgba(255,255,255,.3);
    border-right: 1px solid rgba(255,255,255,.3);
    border-radius: 30px;
}
.heading{
    font-size: 50px;
    text-align:center;
    color: black;
    text-shadow: 2px 2px 4px rgba(0,0,0,.2);
    letter-spacing: 3px;
    margin-bottom: 5%;
    opacity:.7;
}
.login_input{
    width: 80%;
    margin: 5% auto;
    margin-bottom: 8%;
    border:none;
    outline:none;
    background: transparent;
    color:black;
    border-bottom: 1px solid rgba(255,255,255,0.6);
}
.auth__btn{
    width: 50%;
    margin: 3% auto;
    color:white;
    font-size: 15px;
    opacity: .7;
    background:rgba(8, 0, 0, 0.06);
    padding: 10px 30px;
    border: none;
    border-radius: 20px;
    text-shadow: 2px 2px 4px rgba(255,255,255,0.2);
    box-shadow: 3px 3px 5px rgba(31,38,135,.37);
    outline:none;
    border-left: 1px solid rgba(255,255,255,.3);
    border-top: 1px solid rgba(255,255,255,.3);
    border-bottom: 1px solid rgba(255,255,255,.3);
    border-right: 1px solid rgba(255,255,255,.3);

}
pre{
    font-size: 12px;
    text-align: center;
    color:white;
    opacity: .7;
}

pre a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    opacity: .7;
}
.login__reg{
    justify-content: center;
    text-align: center;
    background: rgba(255,255,255,0.06);
    width:30rem;
    height:30rem;
    display:flex;
    flex-direction: column;
    box-shadow: 0 8px 32px 0 rgba(31,38,135,.37);
    border-left: 1px solid rgba(255,255,255,.3);
    border-top: 1px solid rgba(255,255,255,.3);
    border-bottom: 1px solid rgba(255,255,255,.3);
    border-right: 1px solid rgba(255,255,255,.3);
    border-radius: 30px;
}    
