.form__group input{
    border:none;
    outline:none;
    background: transparent;
    color:black;
    border-bottom: 1px solid black;

}

.form__group input:focus{
   outline:none;
}



.form__group h6{
    margin-bottom:0;
    
}



.search__icon i{
    font-size: 1.6rem;
    padding: 0.5rem;
    background: rgba(255,255,255,0.06);
    color: black;
    border-radius: 10px 5px 1px 5px;
    cursor: pointer;

}